<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <li><%="Team Name: #{@data[:name]}"%></li>
   <li><%="Coach: #{@data[:coach]}"%></li>
   <li><%="Point Guard: #{@data[:pg]}"%></li>
   <li><%="Shooting Guard: #{@data[:sg]}"%></li>
   <li><%="Small Forward: #{@data[:sf]}"%></li>
   <li><%="Power Forward: #{@data[:pf]}"%></li>
   <li><%="Center: #{@data[:c]}"%></li>

 </body>
</html>
